extends layout

block content
  header#header
    h1= title
    p Welcome to #{title}

  main#app
    figure.videos
      video(
        id="self-video"
        autoplay
        muted
        playsinline
      )
      video(
        id="peer-video"
        autoplay
      )
      figcaption
        button#call-button Start Call

      aside.chat
        ul#chat-log

        form(
          id="chat-form"
          action="#null"
        )
          input(
            disabled="true"
            id="message"
            name="message"
            type="text"
            autocomplete="off"
          )
          button(
            disabled="true"
            id="send-button"
            name="send-button"
            type="submit"
          ) Send


  script.
    window.NAMESPACE = "#{namespace}";
