extends layout

block content
  header#header
    h1= title
    p Welcome to #{title}

  main#app
    figure.videos
      video(
        id="self-video"
        autoplay
        muted
        playsinline
      )
      video(
        id="peer-video"
        autoplay
      )
      figcaption
        button#call-button Start Call

    aside.chat
      ul#chat-log

      form(
        id="chat-form"
        action="#null"
      )
        input(
          disabled="true"
          id="message"
          name="message"
          type="text"
          autocomplete="off"
        )
        button(
          disabled="true"
          id="send-button"
          name="send-button"
          type="submit"
        ) Send

    article#game-board
      h2 Battleship
      ol.targeting
        each val in ['a','b','c','d','e','f','g','h','i','j']
          - var n = 0;
          while n < 10
            li(data-coordinates=val + n)
            - n++
      p#targeting-console
      ol.ocean
        each val in ['a','b','c','d','e','f','g','h','i','j']
          - var n = 0;
          while n < 10
            li(data-coordinates=val + n)
            - n++


  script.
    window.NAMESPACE = "#{namespace}";
